# Maven
target/
**/target/
.mvn/wrapper/maven-wrapper.jar

# Secrets
**/edemium-secrets.yaml
.env
*.env

# Logs
*.log
logs/
target/surefire-reports/

# Build artifacts
*.class
*.jar

# Generated
generated-sources/

# IDE
.idea/
*.iml
.vscode/

# OS
*.tmp
*.swp
.DS_Store

# Runtime
*.pid
*.seed
*.out